html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // Width > 1200px
        font-size: 56.25%; // 1rem 9px, 9/16 = 56.25%
    }
    @include respond(phone) { // Width < 900px
        font-size: 50%; // 1rem 8px, 8/16 = 50%
    }
    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px, 12/16 = 75%
    }

    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

*{
    font-family: inherit;
}

input, a, button{
    font-family: 'Roboto', sans-serif;
}

button{
    cursor: pointer;
    font-size: 1.6rem;
}

p, h2{
    line-height: 1.6;

    @include respond(767){
        line-height: 1.3
    }
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}